.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
width:50%;
display: flex;
background-color: black;
align-items: center;
}
.nav-list li{
list-style: none;
padding: 26px 30px;
}
.nav-list li a{
text-decoration: none;
color: rgb(252, 245, 245);
}
.nav-list li a:hover{
    text-decoration: none;
    color: rgb(249, 244, 244);
    }
.rightnav{
width:50%;
text-align: right;
padding: 0 23px;
}
#search{padding: 5px;
    font-size: 17px;
    border: 2px solid rgb(4, 0, 0);
    border-radius: 9px;}
    .background{
        background: rgba(0,0,0,0.7) url(bgg.png);
        height: 202px;    }
    .firstsection{
        height: 106px;
    padding: 14px 425px;
}
    
    .box-main{
        background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 69px 249px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 80%;}
    .firsthalf{
        color: darkgreen;
        width: 80%;
        padding: 0px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .text-big{
        font-size: 30px;
    }
    
    .btn{
        padding: 8px 20px;
        margin: 7px 3px;
        border: 2px solid rgb(8, 0, 0);
        border-radius: 8px;
        background: none;
        color: rgb(3, 3, 3);
        cursor: pointer;
    }
    .btn-sm{
        padding: 6px 10px ;
        vertical-align: middle;
    }
    .secright{
        color: deeppink;
        font-size: 30px;
        padding: 50px 296px;
    }
    
    .imglogo{
        height: 213px;
        /* border-radius: 141px; */
        width: 197px;
        /* border: 1px solid lightgreen; */
        /* border: 11px solid lightgreen; */
        padding: 0px 411px;
    }
    }
    .secleft{
      


    }
    .secmiddle{
       
    }
    .bgg{
        
    }
    .bgg2{
        
    }
    .box-main{
        display:flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        max-width: 50%;
        margin: auto;
        height: 80%;
        background-color: #f5f8bc;

    }
    .firsthalf{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .secondhalf{
        width: 30%;
    }
    .secondhalf img{
        width: 272px;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    height: 272px;
    margin: auto
    }